*.a
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
.deps
*.gir
gtk-doc.make
INSTALL
install-sh
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile
Makefile.in
mongo-glib.spec
missing
*.o
*.pc
stamp-h1
*.swp
*.typelib
test-mongo-bson
test-mongo-client
test-mongo-collection
test-mongo-connection
test-mongo-cursor
test-mongo-input-stream
test-mongo-manager
test-mongo-message-insert
test-mongo-message-reply
test-mongo-object-id
test-mongo-output-stream
test-mongo-protocol
